<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>mysite</title>
</head>
<body>
	<div id="container">
		<div id="content">
			<div id="guestbook" class="delete-form">
				<form action="/delete/<%=no %>" method="post" >
					<label>비밀번호</label>
					<input type="hidden" name="no" value="<%= no %>">
					<input type="password" name="password">
					<input type="submit" value="확인">
				</form>
				<a href='/'>방명록 리스트</a>
			</div>
		</div>
	</div>
</body>
</html>
