<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello Web2</title>
</head>
<body>
    <h1>join</h1>

    <label>이름</label>
    <p>name</p>
    <br/><br/>

    <label>이메일</label>
    <p>email</p>
    <br/><br/>

    <label>비밀번호</label>
    <p>password</p>
    <br/><br/> 
</body>
</html> 