<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/assets/css/guestbook-spa.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="/assets/js/jquery/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 
 var fetch = function(){
	var no = $("#list-guestbook li:last").data("no");
	if (no == null) {
		no = 0;
	}
	 $.ajax({
		url : "/api/guestbook?no="+no,
		dataType : "json", // 받을 때 format
		type : "get", // 요청 method
		success : function(response) {
			response.data.forEach(function(vo){
				
			html =
				"<li data-no='" + vo.no + "'>" +
				"<strong>" + vo.name + "</strong>" +
				"<p>" + vo.message + "</p>" +
				"<strong></strong>" +
				"<a href='' data-no='" + vo.no + "'>삭제</a>" +
				"</li>";
				
				$("#list-guestbook").append(html);
			});
			}
		});
	}
 
 $(function(){
	 var event = true;
	 
	 $(window).scroll(function(){
			var $window = $(this);
			var windowHeight = $window.height();
			var scrollTop = $window.scrollTop();
			var documentHeight = $(document).height();
			if(scrollTop + windowHeight + 10 > documentHeight && event==true){
				fetch();
				event = false;
			} else if(scrollTop +30 > (documentHeight/2)){
				event = true;
			}
		});
	
	// 추가
		
		$("#add-form").submit(function(event){
			event.preventDefault();
			
			vo = {}
			
			vo.name = $("#input-name").val();
			// validation name
			if(vo.name == "") {
				// alert("이름이 비어 있습니다.");
				$("#dialog-message").dialog({
					modal: true,
					buttons: {
						"확인": function(){
							$(this).dialog("close");
						}
					}				
				});
				return;
			}
			vo.password = $("#input-password").val();
			// validation password
			vo.message = $("#tx-content").val();
			// validation message
		
			// 데이터 등록
			$.ajax({
				url: "/api/guestbook/add",
				async: true,
				dataType: "json",
				type: "post",
				contentType: "application/json",   
				data: JSON.stringify(vo),
				success: function(response){
					var vo = response.data;
					
					html =
						"<li data-no='" + vo.no + "'>" + 
							"<strong>" + vo.name + "</strong>" +
							"<p>" + vo.message + "</p>" +
							"<strong></strong>" + 
							"<a href='' data-no='" + vo.no + "'>삭제</a>" + 
						"</li>";
						
					$("#list-guestbook").prepend(html);	
					
					$("#input-name").val("");
					$("#input-password").val("");
					$("#tx-content").val("");
				}
			});	
		});
			
	 
	// live event: 존재하지 않는 element의 이벤트 핸들러를 미리 등록
		// delegation(위임) -> document
		$(document).on("click", "#list-guestbook li a", function(event){
			event.preventDefault();
			let no = $(this).data("no");
			$("#hidden-no").val(no);
			
			deleteDialog.dialog("open");
		});
		
	// 삭제 다이알로그 만들기
		const deleteDialog = $("#dialog-delete-form").dialog({
			autoOpen: false,
			width: 300,
			height: 220,
			modal: true,
			buttons: {
				"삭제": function(){
					const no = $("#hidden-no").val();
					const password = $("#password-delete").val();

					$.ajax({
						url : "/api/guestbook/delete?no="+no,
						async: true,
						dataType: "json",
						type: "delete",
						data: "password=" + password,
						success : function(response) {
							if(response.result != "success"){
									console.error(response.message);
									return;
								}

							if(response.data != -1){
								$("#list-guestbook li[data-no=" + response.data + "]").remove();
								dialogDelete.dialog('close');
								return;
							}
							$("#dialog-delete-form p.validateTips.error").show();
						},
						error: function(xhr, status, e){
								console.error(status + ":" + e);
							}
			 });
		},
				"취소": function(){
					$(this).dialog("close");
				}
			},
			close: function(){
				//1. password 비우기
				$("#password-delete").val("");
				//2. no 비우기
				$("hidden-no").val("");
				//3. error message 숨기기.
				$(".validateTips.error").hide();
				
				console.log("다이알로그 폼 데이터 정리 작업");
				
			}
		});
	
	 fetch(); // 초기 리스트
 });
</script>
</head>
<body>
	<div id="container">
		<%- include('../includes/header') %>
		<div id="content">
			<div id="guestbook">
				<h1>방명록</h1>
				<form id="add-form" action="" method="post">
					<input type="text" id="input-name" placeholder="이름">
					<input type="password" id="input-password" placeholder="비밀번호">
					<textarea id="tx-content" placeholder="내용을 입력해 주세요."></textarea>
					<input type="submit" value="보내기" />
				</form>
				<ul id="list-guestbook">

					
				</ul>
				<!-- <div style="margin:20px 0 0 0">
					<button id="btn-fetch">다음 가져오기</button>
				</div> -->
			</div>
			<div id="dialog-delete-form" title="메세지 삭제" style="display:none">
  				<p class="validateTips normal">작성시 입력했던 비밀번호를 입력하세요.</p>
  				<p class="validateTips error" style="display:none">비밀번호가 틀립니다.</p>
  				<form>
 					<input type="password" id="password-delete" value="" class="text ui-widget-content ui-corner-all">
					<input type="hidden" id="hidden-no" value="">
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  				</form>
			</div>
			<div id="dialog-message" title="" style="display:none">
  				<p></p>
			</div>						
		</div>
		<%- include('../includes/navigation') %>
		<%- include('../includes/footer') %>
	</div>
</body>
</html>
